<p style="color: green"><%= notice %></p>




<%= form_with(url: articles_path, method: :get, data: {
  controller: "search-form", turbo_frame: "articles", turbo_action: "advance"}) do |form| %>
  <%= form.label :query, "Search by article" %>
  <div>
    <%= form.text_field :query, data: { action: "input->search-form#search" } %>

    <%= form.submit "Search" %>

    </div>
  <% end %>
  <div>
<%= link_to "Show trending topics", searches_path %>
</div>
  <h1>List of Articles</h1>
<div>
<%= render "articles", articles: @articles %>

</div>


<%= @query %>









